<% if !user_signed_in? %>
  <%= link_to 'Have an account? Login from here', new_user_session_path %><br>
<% else %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% end %><br>
<%= link_to "Write a Blog!", new_blog_path %>
<% @blogs.each do |blog| %>
  <div id="blog_body">
    <div class="panel panel-info">
      <div class="panel-heading">
        <u><%= link_to "#{blog.title}", blog_path(blog) %></u>&nbsp
        <%= '~ ' + blog.user.full_name %>&nbsp&nbsp
        <% if user_signed_in? && ( current_user.is_admin? || current_user.is_moderator? || blog.user_id == current_user.id ) %>
          <%= link_to 'Edit Blog', edit_blog_path(blog) %>
        <% end %>
      </div>
      <div class="panel-body">
      <p><%= truncate(blog.body, length: 200, escape: false) %> <%=link_to 'Read More', blog_path(blog) %><br></p>
      </div>
    </div>
  </div>
<% end %>

