<legend><%= @blog.title %></legend>
<p><%= sanitize @blog.body, tags: %w(b i u) %></p>
<%= link_to 'Comments' ,"#", id: "comments-link" %><br>
<section id="comments-section">
  <div id="blog_comments">
    <% @blog.comments.each do |comment| %>
      <div class="well">
        <div id="edit_comment">
          <p><%= comment.data %>
        </div>
        <% if session[:user_id] %>
          <div id="comment_links">
            <%= link_to 'Edit', edit_blog_comment_path(@blog,comment), remote: true %>
            <%= link_to 'Delete', blog_comment_path(@blog,comment), 
              method: :delete , data: { confirm: 'Are you sure?'} %></p>
          </div>
        <% end %>
      </div>
    <% end %>
<%= render partial: '/comments/form' %>
  </div>
</section>


