<legend><%= @blog.title %></legend>
<p><%= sanitize @blog.body, tags: %w(b i u) %></p>
<%= link_to 'Comments' ,"#", id: "comments-link" %><br>
<section id="comments-section">
  <div id="blog_comments">
    <% @blog.comments.each do |comment| %>
      <div class="well">
        <p><%= comment.data %>
        <div id="edit_comment">
          <%= link_to 'Edit', edit_blog_comment_path(@blog,comment), remote: true %>
        <%= link_to 'Delete', blog_comment_path(@blog,comment), 
          method: :delete , data: { confirm: 'Are you sure?'} %>
        <%= Time.now.strftime('%d/%m/%y %T') %></p>
        </div>
      </div>
    <% end %>
<%= render partial: '/comments/form' %>
  </div>
</section>


