<center>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <h4><center><%= pluralize(@user.errors.count,"error") %> prohibited this record from being saved.<center></h4>
    <% end %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
    <%= f.label :first_name %>
    <%= f.text_field :f_name %><br>

    <%= f.label :last_name %>
    <%= f.text_field :l_name %><br>

    <%= f.label :email %>
    <%= f.email_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label :confirm_password %>
    <%= f.password_field :password_confirmation %><br>

    <%= f.label :phone %>
    <%= f.text_field :phone %><br>
    
    <%= f.label :address %>
    <%= f.text_area :address %><br>

    <%= f.label :about_user %>
    <%= f.text_area :about_user %><br>
    <br>
    <div id="button">
        <%= f.submit %>
    </div>
  <% end %>
</center>
