<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <p><%= pluralize(@user.errors.count,"error") %> prohibited this record from being saved.</p>
    <% end %>
    <% @user.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %><br></li>
    </ul>
    <% end %>
    <%= f.label :first_name %>
    <%= f.text_field :f_name %>

    <%= f.label :last_name %>
    <%= f.text_field :l_name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password, value: @user.password %>

    <%= f.label :confirm_password %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :address %>
    <%= f.text_area :address %>

    <%= f.label :about_user %>
    <%= f.text_area :about_user %>
    <br>
    <div class="button">
        <%= f.submit %>
    </div>
<% end %>

