<legend>Hey <%= current_user.f_name %></legend>
<ul class="nav nav-pills nav-stacked">
  <li class="active"><%= link_to "Show Moderator Activities", activities_path %></li>
<ul><br>
<%= link_to 'Moderators', "#", id: "moderators-link" %>
<% @moderators.each do |mod| %>
  <div  class="moderators-section">
    <div class="well">
      <p>Name: <%= mod.full_name %></p>
      <p>Joined MyBlog on: <%= mod.created_at.to_date %></p>
      <%#= render 'change_user_role', locals: { user: mod } %>
      <%= form_for(mod, url: change_role_user_url(mod), method: :patch, action: :change_role) do |f| %>
        <%= f.select :user_role_id, [["Admin", 1], ["Moderator", 2], ["User", 3]] %><br><br>
        <%= f.submit 'Change Role' %>
      <% end %>
      <%#= button_to "Change Role", change_role_user_path(mod), params: { role: 'user'} , method: :patch, action: 'change_role' %>
    </div>
  </div>
<% end %>
<br>
<%= link_to 'Users', "#", id: "users-link" %>
<% @regular_users.each do |user| %>
  <div class="regular-users-section">
    <div class="well">
      <p>Name: <%= user.full_name %></p>
      <p>Joined MyBlog on: <%= user.created_at.to_date %></p>
      <%= form_for(user, url: change_role_user_url(user), method: :patch, action: :change_role) do |f| %>
        <%= f.select :user_role_id, [["Admin", 1], ["Moderator", 2], ["User", 3]] %><br><br>
        <%= f.submit 'Change Role' %>
      <% end %>
      <%#= button_to "Make Moderator", change_role_user_path(user), params: { role: 'Moderator'} , method: :patch, action: 'change_role' %>
    </div>  
  </div>
<% end %>
