<div id="profile">
  <h3><%= @user.f_name.capitalize %>'s Profile</h3>
</div>
<div class="user_profile">
  <div class="well">
    Name: <%= @user.full_name %>
    <br>
    Address: <%= @user.address %>
    <br>
    Email ID: <%= @user.email %>
    <br>
    Phone Num: <%= @user.phone %>
    <br>
    About <%= @user.f_name + ' : ' + @user.about_user %>
  </div>
  <div class="well">
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
    <%= link_to 'Delete Account', user_path(@user), method: :delete, data: {
      confirm: 'Are you sure you want to delete your account ?'} %>
  </div>
</div>

<div id="blogs">
  <h3><%= @user.f_name %>'s Blogs</h3>
</div>
<div class="well">
  <div class="user_blogs">
  <% if @blogs.present? %>
    <% @blogs.each do |blog| %>
      <p><%= link_to "#{blog.title}", blog_path(blog) %><br>
         <%= link_to 'Edit Blog', edit_blog_path(blog) %>
         <%= link_to 'Destroy Blog', blog_path(blog), method: :delete, data: { confirm: 'Are you sure?'} %>
      </p>
    <% end %>
  <% else %>
    <p>You do not have any Blog yet. Quick, make one !</p>
  <% end %>
<div class="well">
    <%= link_to 'Add new Blog!', new_blog_path %><br>
    <%= link_to 'Logout', logout_path, method: :delete %> 
  </div>
</div>
</div>

