<div class="panel panel-info">
<% @user_activities.where(approved: 1).each do |activity| %>
  <div class="panel-heading">
    <%= link_to "#{activity.user.full_name}", "#", id: "app-moderator-activity" %><br>
  </div>
    <div class="panel-body">
      <section id="app-mod-act-section">
          <div id="activity-section"%>
              <p>Activity performed on: <%= activity.activity_name %></p>
              <p>Activity Type: <%= activity.user_activity_type %></p>
              <p>Element ID: <%= activity.user_activity_id %></p>
              <p>Activity Date: <%= activity.created_at.to_date %></p>
              <p>Approved Status: <%= activity.approved %></p>
          </div>
      </section>
    </div>
<% end %>
</div>
