<div class="panel panel-info">
<% @user_activities.where(approved: 0).each do |activity| %>
  <div class="panel-heading">
    <%= link_to "#{activity.user.full_name}", "#", id: "unapp-moderator-activity-#{activity.user.id}" %>
  </div>
  <div class="panel-body">
    <section id="unapp-mod-act-section">
      <div class=<%="activities-#{activity.user_id}"%>>
          <p>Activity performed on: <%= activity.activity_name.capitalize %></p>
          <p>Activity Type: <%= activity.user_activity_type.capitalize %></p>
          <p>Element ID: <%= activity.user_activity_id %></p>
          <p>Activity Description:</p>
            <% activity.track_activities.each do|act_cont| %>
              <p>Column: <%= act_cont.activity_content.keys %></p>
              <p>Change: <%= act_cont.activity_content.values %></p>
            <% end %>
          <p>Activity Date: <%= activity.created_at.to_date %></p>
          <p>Approved Status: <%= activity.approved %></p>
          <%= button_to "Approve", activity_path(activity), params: { approved: true } ,method: :patch %>
          <%= button_to 'Delete Activity', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?'} %>
      </div>
    </section>
  </div>
<% end %>
</div>
